@page "/home"
<body>
<PageTitle>Notification Summary</PageTitle>
<br  />
<br  />
<br  />
<br  />
<br  />
<div>
<table class="graph">
	<caption>Notification Counts Over the Last Month</caption><tbody>
		<tr style="height:20%; background:#007AA3">
			<th scope="row">Out of State</th>
			<td><span>2</span></td>
		</tr>
		<tr style="height:70%; background:#FFB300">
			<th scope="row">Exceed Limit</th>
			<td><span>7</span></td>
		</tr>
		<tr style="height:50%; background:#E30000">
			<th scope="row">Selected Catergory</th>
			<td><span>5</span></td>
		</tr>
	</tbody>
</table>
<table class="graph">
	<caption>Notification Counts Over the Last Year</caption><tbody>
		<tr style="height:20%; background:#007AA3">
			<th scope="row">Out of State</th>
			<td><span>2</span></td>
		</tr>
		<tr style="height:70%; background:#FFB300">
			<th scope="row">Exceed Limit</th>
			<td><span>7</span></td>
		</tr>
		<tr style="height:50%; background:#E30000">
			<th scope="row">Selected Catergory</th>
			<td><span>5</span></td>
		</tr>
	</tbody>
</table>
<footer></footer>
</div>
</body>

