@page "/recover"
@layout DefaultLayout
@using DataLibrary
@using CommerceBlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<body>
<header><PageTitle>Recover Account</PageTitle>
</header>

<div>
	<p>
	<label>Username</label>
	<br/>
	<input @bind="username" @bind:event="oninput"/>
	@if (account == null)
	{
		<p>…Loading</p>
	}
	else
	{
		@foreach (var a in account)
		{
			if(a.username == username)
				{
						<p>(Username already exists. Please enter a different username)</p>
						user = false;
					}
					else
					{
						user = true;
						break;
					}
				}
	}
	</p>
	<p>
     <label>Recovery Question</label>
	 <br />
     <select @bind="security_question">
		<option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
		<option value="What was your first pet's name">What was your first pet's name?</option>
		<option value="What was your favorite childhood cartoon?">What was your favorite childhood cartoon?</option>
		<option value="Who is your favorite author?">Who is your favorite author?</option>
		<option value="What was your first car?">What was your first car?</option>
	</select>

	<br>
	<br>
	<label>Recovery Answer</label>
	<br />
	<input @bind="security_answer" @bind:event="oninput" />
	</p>
	<p>
	<p>
	<label>New Password</label>
	<br/>
	<input @bind="password" @bind:event="oninput"/>
	</p>

	<p>
	<label>Confirm Password</label>
	<br/>
	<input @bind="passwordc" @bind:event="oninput"/>
	</p>
	@if(passwordc != password)
		{
			<p>(Passwords do not match. Please make sure they are the same)</p>
		}
<button @onclick="InsertData">Submit</button>
</p>
		@code{
			public string account_id = "";
			public string username = "";
			public string email = "";
			public string security_question = "";
			public string password = "";
			public string passwordc = "";
			public string security_answer = ""; 
			public string date_of_birth = "";
			public Boolean user = false;
			public Boolean email1 = false;
			public Boolean accNum = false;
			

	}

		@code{
	List<PersonModel> account;
    private async Task InsertData()
    {
        string sql = "insert into database.account(account_id, email, username, password, date_of_birth, security_question, security_answer) values(@account_id, @email, @username, @password, @date_of_birth, @security_question, @security_answer) ";
        await _data.SaveData(sql, new {account_id, email, username, password, date_of_birth, security_question, security_answer}, _config.GetConnectionString("default"));
    }
	    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM account ";

        account = await _data.LoadData<PersonModel, dynamic>(sql, new {}, _config.GetConnectionString("default"));
    }

  
	}
</div>
</body>
<footer></footer>
